<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="reservation">
<insert id="save" parameterType="reservation">
    insert into reservation_table(category,subcategory,detail,serviceCenter,serviceDate,delivery,memberId)
        values(#{category},#{subcategory},#{detail},#{serviceCenter},#{serviceDate},#{delivery},#{memberId})
</insert>
    <select id="list" parameterType="Long" resultType="member_res">
        select m.*,r.*  from member_table m, reservation_table r  where m.id = r.memberId
    </select>
    <select id="detail" parameterType="Long" resultType="member_res">
        select m.*,r.*  from member_table m, reservation_table r  where m.id = r.memberId and r.resId=#{resId}
    </select>
<update id="fin" parameterType="member_res">
   update reservation_table set fin = #{fin},serviceTime = now() where resId=#{resId}
</update>
<select id="notify" parameterType="Long" resultType="Integer">
    select count(fin) from reservation_table   where memberId=#{id} and fin ='작업완료'
</select>
</mapper>














